body {
    background: url('../images/big_bang_image.jpg');
    text-align: center;
}

/* Heading */

h1 {
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    color: orange;
    text-justify: inter-word;
    text-decoration: none;
}

.landing {
    width: 95%;
    height: 850px;
    background-color: #454545;
    opacity: 0.8;
    border-radius: 20px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.intro {
    font-family: "Open-sans", sans-serif;
    font-size: 120%;
    font-weight: 500;
    color: azure;
    text-justify: inter-word;
}

/* Move Display */

.game {
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 20px;
    height: 80vh;
    width: 90%;
    max-height: 750px;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0;
    background: cornflowerblue;
}

.user,
.comp {
    box-sizing: border-box;
    display: inline-block;
    height: 200px;
    width: 150px;
    border: none;
    border-radius: 20px;
    padding: 65px 0;
    background: #454545;
}

.user i {
    font-size: 50px;
    color: orange;
}

.comp i {
    font-size: 50px;
    color: orange;
}

/* Result Message */

#message {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    line-height: 0.8;
    color: black;
    text-justify: inter-word;
}

/* Game Over Message */

.gameover-message {
    position: fixed;
    display: none;
    margin: auto;
    width: 50%;
    height: 65%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #454545;
    z-index: 2;
    border-radius: 20px;
}

#endgame-message {
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
    color: orange;
}

.gameover-message button {
    width: 120px;
    height: 90px;
    border-radius: 20px;
    background-color: azure;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
}

.gameover-message a {
    font-family: "Open-sans", sans-serif;
    font-size: 33px;
    color: blue;
    text-decoration: none;
}

/* Buttons */

.gestures button {
    margin: 0 7px;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    background: black;
    font-size: 33px;
    color: orange;
}

.gestures button:hover,
.gestures button:active {
    transform: scale(1.3);
    transition-duration: 1.5s;
}

/* Score Area */

h3 {
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

.gamelink {
    font-family: "Ubuntu", sans-serif;
    font-size: 200%;
    color: orange;
    text-decoration: none;
}

/* Footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 300%; 
    margin: 1%;
    padding: 5%;
    color: orange;
}

.feedback-form {
    font-family: "Open-sans", sans-serif;
    font-size: 125%;
    color: azure;
}

.feedback-form a {
    color: orange;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* question form */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    font-family: "Open-sans", sans-serif;
    padding: 12px 12px 12px 0;
    color: azure;
    display: inline-block;
}

input[type=submit] {
    background-color: orange;
    font-family: "Open-sans", sans-serif;
    color: black;
    padding: 12px 25px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    margin-top: 2%;
}

.container {
    width: 95%;
    height: 450px;
    border-radius: 5px;
    background-color: #454545;
    padding: 10px;
    margin: auto;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.feedback {
    text-align: center;
    padding: 0 10px 0 10px;
}

/* Media Queries */

@media screen and (max-width: 800px) {
    h1 {
        font-size: 2.2rem;
    }

    .landing {
        width: 100%;
        height: 800px;
        padding: 0.5%;
    }

    .intro {
        font-size: 100%;
    }

    .game {
        height: 55vh;
    }

    footer {
        height: 150px;
    }

    .gameover-message {
        position: fixed;
        display: none;
        margin: auto;
        margin-top: 100px;
        width: 75%;
        height: 50%;
        background-color: #454545;
        z-index: 2;
        border-radius: 20px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 1.5rem;
    }

    .landing {
        height: 850px;
    }

    .rules iframe {
        height: auto;
        width: auto;
    }

    .intro {
        font-size: 100%;
    }

    .feedback-form {
        font-size: 100%;
    }

    .game {
        height: 80vh;
        width: 90%;
        padding: 20px 0;
    }

    .user,
    .comp {
        height: 140px;
        width: 90px;
        padding: 45px 0;
    }

    .user i {
        font-size: 50px;
    }
    
    .comp i {
        font-size: 50px;
    }

    #message {
        font-size: 1.3rem;
        line-height: 0.8;
    }

    .gestures button {
        margin: 0 7px;
        height: 60px;
        width: 60px;
        font-size: 20px;
    }

    h3 {
        font-size: 1.1rem;
        line-height: 0.2;
    }

    .gameover-message {
        width: 80%;
        height: 65%;
        margin-top: 90px;
    }

    label {
        font-size: 12px;
    }

    footer {
        height: 75px;
    }

    .social-networks i {
        font-size: 300%; 
        float: inline-start;
        padding: 5%;
    }
}